fastapi==0.115.0
uvicorn==0.30.6
pydantic==2.9.2
scikit-learn==1.5.2
numpy==1.26.4
Pillow==10.4.0
transformers==4.44.2
torch==2.4.1+cpu --extra-index-url https://download.pytorch.org/whl/cpu
joblib==1.4.2
python-multipart==0.0.10
